<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Time log for today
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Logged in</th>
                                <th>Logged out</th>
                                <th>Time played</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let playerTime of times">
                                <td>{{playerTime.player}}</td>
                                <td>{{playerTime.startTime| date:'HH:mm:ss':'UTC'}}</td>
                                <td>{{playerTime.endTime| date:'HH:mm:ss':'UTC'}}</td>
                                <td>
                                    <span class="badge badge-success">{{playerTime.delta * 1000 | date:'HH:mm:ss':'UTC'}}</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>