<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Time log for day {{this.selectedDay}}
                    <label class="switch switch-sm switch-label switch-pill switch-primary">
                        <input type="checkbox" (change)="changeGrouping($event)" class="switch-input" checked>
                        <span class="switch-slider" data-checked="Sum" data-unchecked=""></span>
                      </label>
                </div>
                <div class="card-body text-center">
                    <table class="table" *ngIf="!groupingChecked">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Logged in</th>
                                <th>Logged out</th>
                                <th>Time played</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!loading">
                            <tr *ngFor="let playerTime of times">
                                <td>{{playerTime.player}}</td>
                                <td>{{playerTime.startTime}}</td>
                                <td>{{playerTime.endTime}}</td>
                                <td>
                                    <span class="badge badge-success">{{mcApi.msToTime(playerTime.delta)}}</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <table class="table" *ngIf="groupingChecked">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Delta</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!loading">
                            <tr *ngFor="let playerTime of times">
                                <td>{{playerTime.player}}</td>
                                <td>
                                    <span class="badge badge-success">{{mcApi.msToTime(playerTime.delta)}}</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>


                    <h5 *ngIf="times.length === 0 && !loading" class="pt-2 pb-4"><span class="badge badge-pill badge-primary ">No one played this day</span></h5>
                    <div *ngIf="loading" class="justify-content-center mt-0 pb-4">
                        <i class="fa fa-spinner fa-lg mt-4"></i>
                    </div>
                    <ul class="pagination justify-content-center" *ngIf="days">
                        <li class="page-item" [ngClass]="{'disabled':this.daySelectorIndex === this.days.length * -1 + this.daySelectorOffset}"><a class="page-link" (click)="prevDay()">Prev</a></li>
                        <li *ngFor="let day of days | slice:daySelectorIndex-daySelectorOffset:daySelectorIndex" class="page-item" [ngClass]="{ 'active':day===selectedDay}">
                            <a class="page-link" (click)="getPlayerTimesHistorical(day)">{{day}}</a></li>
                        <li class="page-item" [ngClass]="{'disabled':daySelectorIndex===-1}"><a class="page-link" (click)="nextDay()">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>